@model IEnumerable<MVC.Models.PaisViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaisId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaisId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.FotoUrl)" style="max-width:150px;" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaisId}) |
            @Html.ActionLink("Details", "Details", new { id=item.PaisId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaisId})
        </td>
    </tr>
}

</table>
